.container {
    display: flex;
    /* height: 100px; */
    max-width: 500px;
    min-width: 250px;
}

.container img {
    height: fit-content;
    padding: 5px 25px;
}

.container h1 {
    margin: 0;
    color: #1A202C;
    font-size: 22px;
    font-weight: 600;
}

.container p {
    color: #1A202C;
    font-size: 16px;
    font-weight: 400;
}