.footer {
    background-color: #C4C4C4;
}

.wrap {
    max-width: 1500px;
    padding: 80px 60px;
    margin: auto;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.sections_container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 150px;
}

.bottom {
    border-top: 2px solid #8d8d8d42;
    display: flex;
    justify-content: space-between
}

.rights {
    display: flex;
    gap: 60px;
}